@import '../../index.scss';

.skill {
  padding: 90px 90px;

  .skillContainer {
    @extend .flex-col;
    gap: 50px;
  }

  .descriptionText {
    text-align: center;
  }

  .listSkillContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
  }

  @media screen and (max-width: 825px) {
    .listSkillContainer {
      grid-template-columns: auto auto auto;
    }
  }

  .skillWrapper {
    @extend .flex-col;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1400px) {
  .skill {
    padding: 90px 250px;
  }
}

@media screen and (max-width: 640px) {
  .skill {
    padding: 90px 50px;
  }
}
