.chipContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .chipWrapper {
      display: flex;
      padding: 4px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      background: var(--Gray-200, #e5e7eb);
      height: 20px;
    }
  }
  