@import '../../index.scss';

.hero {
  padding: 90px 90px;

  .heroContainer {
    @extend .flex-col;
    gap: 50px;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .avatarWrapper {
    background-color: #e5e7eb;
    padding: 20px;
    position: relative;
    border-radius: 100%;
  }

  .avatar {
    height: 280px;
    margin: 10px;
    border: solid 15px white;
    object-fit: contain;
    margin-top: -60px;
    border-radius: 100%;
  }

  .titleDescription {
    color: $donker-blue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    letter-spacing: -1.2px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  .textDescription {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: justify;
  }

  .descriptionContainer {
    @extend .flex-col;
  }

  .locationContainer {
    @extend .flex-row;
    gap: 10px;
    margin-top: 48px;

    .textContainer {
      @extend .flex-col;
    }

    .iconContainer {
      @extend .flex-col;
      align-items: center;

      .locationIcon {
        @extend .iconSize;
        color: $dark-grey;
        margin-bottom: 6px;
      }
    }

    .avalaibleWrapper {
      @extend .flex-row;
      gap: 10px;
      align-items: center;
    }

    .dot {
      height: 10px;
      width: 10px;
      background-color: #10b981;
      border-radius: 50%;
    }

    p {
      margin: 0;
    }
  }

  .btnWrapper{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 48px;
    .btnLearn{
        background-color: orange;
    }
  }

  @media screen and (min-width: 1024px) {
    .heroContainer {
      display: flex;
      flex-direction: row-reverse;
    }

    .avatar {
      margin-top: -60px;
      margin-left: -60px;
    }

    .descriptionWrapper {
      width: 80%;
    }
  }

  @media screen and (max-width: 500px) {
    .imgContainer {
      display: block;

      .avatarWrapper {
        padding: 10px 20px;
      }

      .avatar {
        width: 100%;
        margin: -60px 0 0 0;
        border: solid;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .hero {
    padding: 90px 250px;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    padding: 90px 50px;
  }
}
