@import '../../index.scss';

.work {
  padding: 90px 90px;

  .descriptionText {
    text-align: center;
  }

  .listWorkContainer {
    @extend .flex-col;
    gap: 20px;
  }

  .workCard {
    border-radius: 12px;
    background: var(--Gray-Default, #fff);

    /* Drop Shadow/md */
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.07),
      0px 2px 2px 0px rgba(0, 0, 0, 0.06);

    .imgContainer {
      display: flex;
      padding: 32px;
      justify-content: center;
      align-items: center;
      border-radius: 12px 12px 0px 0px;
      border-bottom: 1px solid var(--Gray-100, #f3f4f6);
      background: var(--Gray-50, #f9fafb);

      .workImg {
        width: 100%;
      }
    }

    .descriptionContainer {
      display: flex;
      padding: 32px;
      flex-direction: column;
      gap: 24px;
      border-radius: 12px 0px 0px 12px;

      .workTitle {
        overflow: hidden;
        color: var(--Gray-900, #111827);
        text-overflow: ellipsis;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 155.556% */
      }

      .techStack {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .chipContainer {
          display: flex;
        }
      }

      .redirectIcon {
        @extend .iconSize;
        color: #4b5563;
      }
    }

    p {
      margin: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .workCard {
      display: flex;

      .imgContainer {
        width: -webkit-fill-available;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .work {
    padding: 90px 250px;
  }
}

@media screen and (max-width: 640px) {
  .work {
    padding: 90px 30px;
  }
}
