@import '../../index.scss';

.about {
  padding: 90px 90px;
  background-color: #f9fafb;
  margin-top: 100px;

  .aboutContainer {
    @extend .flex-col;
    gap: 50px;
    margin-top: 80px;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatarWrapper {
    background-color: #e5e7eb;
    padding: 20px;
    position: relative;
    margin-top: 60px;
  }

  .avatar {
    height: 280px;
    margin: 10px;
    border: solid 15px white;
    object-fit: contain;
    margin-top: -60px;
  }

  .listMenuContainer {
    @extend .flex-row;
  }

  .titleDescription {
    color: $donker-blue;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin: 25px 0 0 0;
    text-align: left;
  }

  .textDescription {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: justify;
  }

  li {
    text-decoration: none;
    color: $dark-grey;
  }

  .descriptionContainer {
    @extend .flex-col;
  }

  @media screen and (min-width: 1024px) {
    .aboutContainer {
      display: flex;
      flex-direction: row;
    }

    .avatar {
      margin-top: -60px;
      margin-left: -60px;
    }
  }

  @media screen and (max-width: 500px) {
    .imgContainer {
      display: block;

      .avatarWrapper {
        padding: 10px 20px;
      }

      .avatar {
        width: 100%;
        margin: -60px 0 0 0;
        border: solid;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .about {
    padding: 90px 250px;
  }
}

@media screen and (max-width: 640px) {
  .about {
    padding: 90px 50px;
  }
}
